.cart{
    width: 300px;
    height: 508px;
    border: 1px solid gray;
    border-radius: 10px;
    padding:0 5px;
    margin: 10px;
    position: relative;
}

.cart h4{
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
}
.cart h5{
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
    color: red;
}
.cart p{
    color: gray;
    padding: 5px;
}
.cart h6{
    color: blue;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}
.imgs{
    background-color: white;
    box-shadow: 5px 5px 5px rgba(98, 100, 98, 0.5);
    
    text-align: center;
}
.cart img{
  
    width: 250px;
    height: 250px;
}
.buttons{
    padding: 10px 5px;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  #FFE0B3;;
}
