.Header{
    height: 80px;
    width: 1360px;
    background-color: black;
   
}
.HeaderNav{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.menoPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menoPart li{
    list-style: none;
    
}
.links{
    text-decoration: none;
    color: white;
    padding-right: 32px;

}
.links:hover{
    color: orange;
}